section.canhcam-faq-1
	.container
		h2.ka-title FAQ
		.content
			.info
				.title.d-flex
					.icon
						i.fas.fa-angle-right
					h5.mr-auto Đoạn Lorem Ipsum chuẩn, được sử dụng từ những năm 1500
				.faq
					.detail
						p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
			.info
				.title.d-flex
					.icon
						i.fas.fa-angle-right
					h5.mr-auto Đoạn 1.10.32 trong "De Finibus Bonorum et Malorum " viết bởi Cicero Năm 45 trước Công Nguyên
				.faq
					.detail
						p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
			.info
				.title.d-flex
					.icon
						i.fas.fa-angle-right
					h5.mr-auto Một đoạn dịch của H. Rackham năm 1914
				.faq
					.detail
						p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
			.info
				.title.d-flex
					.icon
						i.fas.fa-angle-right
					h5.mr-auto Đoạn 1.10.33 trong "De Finibus Bonorum et Malorum" viết bởi Cicero năm 45 trước Công Nguyên
				.faq
					.detail
						p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
			.info
				.title.d-flex
					.icon
						i.fas.fa-angle-right
					h5.mr-auto Đoạn 1.10.33 trong "De Finibus Bonorum et Malorum" viết bởi Cicero năm 45 trước Công Nguyên
				.faq
					.detail
						p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
		.kienan-button.d-flex
			a.btn-wrap.text-center.btn-more(href="") Gửi câu hỏi