header.canhcam-header-7
	nav.navbar.navbar-expand-md.container
		a.navbar-brand.d-none.d-md-block(href='#')
			img(src="./img/logo.png", alt="Logo")
		a.navbar-brand.d-md-none.mr-auto(href='#')
			img(src="./img/logo.png", alt="Logo")
		#cart-toggle
		button.navbar-toggler(type='button', data-toggle='offcanvas', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
			span.mdi.mdi-menu

		#CCMenuHeader.collapse.navbar-collapse.justify-content-end
			.title
				h2 Menu
				.closebnt
					i.mdi.mdi-close
			ul.navbar-nav.mt-2.mt-md-0
				li.nav-item.active
					a.nav-link(href='about.html') Giới thiệu
				li.nav-item
					a.nav-link(href='room.html') Loại phòng
				li.nav-item
					a.nav-link(href='service.html') Dịch vụ
				li.nav-item
					a.nav-link(href='promotion.html') Khuyến mãi
				li.nav-item
					a.nav-link(href='support.html') Hỗ trợ
			.language.navbar-nav
				ul.nav
					li
						a(href='#')
							img(src="./img/china.png", alt="")
					li
						a(href='#')
							img(src="./img/uk.png", alt="")
			.cart-toggle(k-menu-map-to="#cart-toggle")
				.wrap.d-flex
					span.far.fa-edit
					p.mb-0 ĐẶT PHÒNG