section.canhcam-boxes-4
	article.list-rooms
		.container
			h2.ka-title Loại phòng
			.row
				.col-md-6.part-list
					a.item(href="room-details.html")
						figure
							img.img-fluid(src="./img/room/r_1.jpg", alt="alt")
							figcaption
								h3 Phòng sang trọng
				.col-md-6.part-list
					a.item(href="room-details.html")
						figure
							img.img-fluid(src="./img/room/r_1.jpg", alt="alt")
							figcaption
								h3 Phòng vip
				.col-md-6.part-list
					a.item(href="room-details.html")
						figure
							img.img-fluid(src="./img/room/r_1.jpg", alt="alt")
							figcaption
								h3 Phòng tiện nghi
				.col-md-6.part-list
					a.item(href="room-details.html")
						figure
							img.img-fluid(src="./img/room/r_1.jpg", alt="alt")
							figcaption
								h3 Phòng tiêu chuẩn
