section.canhcam-checkout-4
	article.checkout-lists
		.container
			.row
				.col-lg-9
					nav.checkout-nav
						ul
							li.active
								a(href="#") 1.Đặt phòng
							li
								a(href="#") 2.Chi tiết phòng và điền thông tin
							li
								a(href="#") 3.Thanh toán
							li
								a(href="#") 4.Hoàn tất
					.row
						.col-lg-6
							figure
								img(src="./img/home/h_1.jpg", alt="")
						.col-lg-6
							figure
								figcaption
									h3 Thủ tục đặt phòng của bạn đã hoàn tất
									p
										| Mã booking :
										span 760
									p
										| Thư xác nhận thông tin sẽ được gửi trực tiếp đến email của bạn. Nếu có bất kỳ thắc mắc nào hãy liên hệ với chúng tôi qua Hotline:
										strong  84 650 3 79 7778
										|  hoặc qua email (dịch vụ của chúng tôi làm việc 24/7 phục vụ yêu cầu của bạn)
									p Cám ơn bạn đã chọn Kien An Hotel hôm nay.
									p.btn-submit.btn-center
										a(href="#") Đặt phòng
				.col-lg-3
					.list-picker
						h2.picker-title Đặt phòng
						.picker-day
							.input-group.input-daterange
								.input-item
									label Ngày đến
									input.form-control(type='text', value='2018-04-05')
								.input-item
									label Ngày đi
									input.form-control(type='text', value='2018-04-19')
						.picker-submit
							a(href="#", title="title") Tìm kiếm
					.list-info
						h4 Nếu bạn có thắc mắc hoặc cần hỗ trợ hãy liên hệ với chúng tôi :
						p
							em.fa.fa-phone
							| 650 3 79 7778
						p
							em.fa.fa-envelope
							| @kahotel.com.vn