section.canhcam-checkout-1
	article.checkout-lists
		.container
			.row
				.col-lg-9
					nav.checkout-nav
						ul
							li.active
								a(href="#") 1.Đặt phòng
							li
								a(href="#") 2.Chi tiết phòng và điền thông tin
							li
								a(href="#") 3.Thanh toán
							li
								a(href="#") 4.Hoàn tất
					h2.emty-title Phòng trống
					.list-items
						- for ( x = 1 ; x < 4 ; x++)
							.item
								figure
									img(src="./img/bookroom/b_1.jpg", alt="alt").class
									figcaption
										h3.item-title Phòng vip
										p.item-des Phòng Vip có Không gian rộng rãi, thoáng mát mang tới sự thanh bình và trang bị cơ sở vật chất 4 sao tiện lợi cho du khách nghỉ ngơi, thư giãn.
										p.price
											| Giá phòng:
											span 900.000 VNĐ / đêm
										select.custom-select
											option(value="") Item 1
											option(value="") Item 2
											option(value="") Item 3
											option(value="") Item 4
					p.btn-submit.btn-center
						a(href="#") Đặt phòng
				.col-lg-3
					.list-picker
						h2.picker-title Đặt phòng
						.picker-day
							.input-group.input-daterange
								.input-item
									label Ngày đến
									input.form-control(type='text', value='2018-04-05')
								.input-item
									label Ngày đi
									input.form-control(type='text', value='2018-04-19')
						.picker-submit
							a(href="#", title="title") Tìm kiếm
					.list-info
						h4 Nếu bạn có thắc mắc hoặc cần hỗ trợ hãy liên hệ với chúng tôi :
						p
							em.fa.fa-phone
							| 650 3 79 7778
						p
							em.fa.fa-envelope
							| @kahotel.com.vn