section.canhcam-boxes-19
	article.box-lists
		.container
			.row.list-items
				.col-6.col-lg-3.item
					img(src="./img/ico_1.png", alt="")
					h2 Giá tốt mỗi ngày
				.col-6.col-lg-3.item
					img(src="./img/ico_2.png", alt="")
					h2
						| Thanh toán sau khi
						br
						| nhận phòng
				.col-6.col-lg-3.item
					img(src="./img/ico_3.png", alt="")
					h2 Phục vụ toàn diện
				.col-6.col-lg-3.item
					img(src="./img/ico_4.png", alt="")
					h2 Giảm giá hấp dẫn