section.canhcam-news-3
	.container
		h1.kienan-title Khuyến Mãi
		.promotion
			.row
				.col-md-6.col-lg-4.box
					a(href="#").item
						figure
							.img
								img(src="./img/promotion/p_1.jpg", alt="").img-fluid.w-100
							figcaption(data-mh='box')
								time 30.07.2018
								h4 Ưu đãi dành cho doanh nhân: Nhận ngay ưu đãi khi xuất trình thẻ nhân viên

				.col-md-6.col-lg-4.box
					a(href="#").item
						figure
							.img
								img(src="./img/promotion/p_2.jpg", alt="").img-fluid.w-100
							figcaption(data-mh='box')
								time 30.07.2018
								h4 Ưu đãi dành cho doanh nhân: Nhận ngay ưu đãi khi xuất trình thẻ nhân viên

				.col-md-6.col-lg-4.box
					a(href="#").item
						figure
							.img
								img(src="./img/promotion/p_3.jpg", alt="").img-fluid.w-100
							figcaption(data-mh='box')
								time 30.07.2018
								h4 Ưu đãi dành cho doanh nhân: Nhận ngay ưu đãi khi xuất trình thẻ nhân viên

				.col-md-6.col-lg-4.box
					a(href="#").item
						figure
							.img
								img(src="./img/promotion/p_4.jpg", alt="").img-fluid.w-100
							figcaption(data-mh='box')
								time 30.07.2018
								h4 Ưu đãi dành cho doanh nhân: Nhận ngay ưu đãi khi xuất trình thẻ nhân viên

				.col-md-6.col-lg-4.box
					a(href="#").item
						figure
							.img
								img(src="./img/promotion/p_5.jpg", alt="").img-fluid.w-100
							figcaption(data-mh='box')
								time 30.07.2018
								h4 Ưu đãi dành cho doanh nhân: Nhận ngay ưu đãi khi xuất trình thẻ nhân viên

				.col-md-6.col-lg-4.box
					a(href="#").item
						figure
							.img
								img(src="./img/promotion/p_6.jpg", alt="").img-fluid.w-100
							figcaption(data-mh='box')
								time 30.07.2018
								h4 Ưu đãi dành cho doanh nhân: Nhận ngay ưu đãi khi xuất trình thẻ nhân viên