section.canhcam-boxes-16
	.container
		h2.ka-title Tin tức - sự kiện
		.row
			.col-md-4
				a.item(href="#")
					figure
						.boximg(bg-img-responsive="./img/home/h_9.jpg")
							img.img-fluid(src="./img/home/h_9.jpg")
						figcaption
							.text
								time 24.07.2018
								h3 Snowz chào mừng quốc khánh 2-9 & Đón tết trung thu.
								p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.

			.col-md-4
				a.item(href="#")
					figure
						.boximg(bg-img-responsive="./img/home/h_10.jpg")
							img.img-fluid(src="./img/home/h_10.jpg")
						figcaption
							.text
								time 24.07.2018
								h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ nghiệm đặt phòng khách sạn vào dịp lễ 
								p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật. rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
			.col-md-4
				a.item(href="#")
					figure
						.boximg(bg-img-responsive="./img/home/h_11.jpg")
							img.img-fluid(src="./img/home/h_11.jpg")
						figcaption
							.text
								time 24.07.2018
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia accusamus officia, maxime sed, optio minima animi odit architte.
			.col-auto.mx-auto
				a.btn.btn-readmore(href="#") XEm thêm