section.canhcam-boxes-3
	.container
		h2.ka-title Vì sao lựa chọn chúng tôi
		.row
			.col-12
				.text
					p 
						span.bold Khách sạn Kiến An 
						| chính là địa điểm lý tưởng cho các Doanh nhân, Chuyên gia nghỉ dưỡng trong những chuyến công tác tại Bình Dương. Với 38 phòng nghỉ sạch sẽ, sang trọng và khách sạn có hồ bơi, nhà hàng đầy đủ tiện nghi đạt tiêu chuẩn 3 sao, 
						span.bold khách sạn Kiến An 
						| có các loại phòng như Deluxe Double, Deluxe Twin, Standard, VIP, Superior, phù hợp cho mọi nhu cầu và mọi đối tượng khách hàng đến với chúng tôi.
						p Đến với Khách sạn Kiến An để có những khoảng thời gian nghỉ ngơi và tận hưởng những dịch vụ tốt nhất.
			.col-12
				.list-item.owl-carousel
					.item
						figure
							img(src="./img/about/a_2.png", alt="")
							figcaption
								p Không gian sân vườn
					.item
						figure
							img(src="./img/about/a_3.png", alt="")
							figcaption
								p Hồ bơi ngoài trời
					.item
						figure
							img(src="./img/about/a_4.png", alt="")
							figcaption
								p Free wifi
					.item
						figure
							img(src="./img/about/a_5.png", alt="")
							figcaption
								p Nhà hàng ẩm thực