section.canhcam-promotion-details-1
	article.news-details
		.container
			.row
				.col-lg-9
					.news-read
						time 12/12/2017
						h1 Snowz chào mừng quốc khánh 2-9 & Đón tết trung thu.
						p.lead Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at poss
						.row
							.col-lg-4.col-md-2
								.item-news-read
									figure
										img.img-fluid(src="./img/promotion-detail/p_icon_1.png", alt=".")
										figcaption
											p Miễn phí ăn sáng tại nhà hàng Chit Chat
							.col-lg-4.col-md-2
								.item-news-read
									figure
										img.img-fluid(src="./img/promotion-detail/p_icon_2.png", alt=".")
										figcaption
											p Miễn phí ăn sáng tại nhà hàng Chit Chat
							.col-lg-4.col-md-2
								.item-news-read
									figure
										img.img-fluid(src="./img/promotion-detail/p_icon_3.png", alt=".")
										figcaption
											p Miễn phí ăn sáng tại nhà hàng Chit Chat
							.col-lg-4.col-md-2
								.item-news-read
									figure
										img.img-fluid(src="./img/promotion-detail/p_icon_4.png", alt=".")
										figcaption
											p Miễn phí ăn sáng tại nhà hàng Chit Chat
							.col-lg-4.col-md-2
								.item-news-read
									figure
										img.img-fluid(src="./img/promotion-detail/p_icon_5.png", alt=".")
										figcaption
											p Miễn phí ăn sáng tại nhà hàng Chit Chat
							.col-lg-4.col-md-2
								.item-news-read
									figure
										img.img-fluid(src="./img/promotion-detail/p_icon_6.png", alt=".")
										figcaption
											p Miễn phí ăn sáng tại nhà hàng Chit Chat
						
						.row.pt-5
							.col
								.list-par
									h3 ** 
										span mô tả công việc
									ul.list
										li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
										li Đề xuất, thực hiện các công việc nhằm tăng chất lượng bài/tin, lượng truy cập facebook, website.
										li Hỗ trợ xây dựng nội dung sáng tạo cho các sự kiện, chiến dịch quảng cáo, truyền thông thương hiệu…
										li Thực hiện những việc khác theo sự phân công của Quản lý trực tiếp.
										li Công việc cụ thể trao đổi trong quá trình phỏng vấn
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")

				.col-lg-3.box-news
					.othernews(data-fix="10", data-fix-type="initial", data-fix-change="sticky")
						h2 Tin liên quan
						hr
						.lists
							a.item(href="#")
								figure
									//- .img(bg-img="./img/news-detail/n_5.png").w-100
									img.img-fluid(src="./img/news-detail/n_5.png", alt="alt")
									figcaption
										time 27/1/2018
										h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ
							a.item(href="#")
								figure
									//- .img(bg-img="./img/news-detail/n_5.png").w-100
									img.img-fluid(src="./img/news-detail/n_5.png", alt="alt")
									figcaption
										time 27/1/2018
										h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ

							
