section.canhcam-slider-2
	article.owl-carousel.owl-theme.list-items
		.item(bg-img="./img/banner/b_1.jpg")
			.title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
		.item(bg-img="./img/banner/b_2.jpg")
			.title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
	.btn-down.position-absolute
		.circle
			span.mdi.mdi-chevron-down