section.canhcam-slider-3#sectionScroll
	article.container
		h2.ka-title Loại phòng
		.owl-carousel.owl-theme.list-items
			a.item(bg-img='./img/home/h_1.jpg' href='#')
				img(src="./img/home/h_1.jpg", alt="")
				.title
					h3 Phòng 10
			a.item(bg-img='./img/home/h_1.jpg' href='#')
				img(src="./img/home/h_1.jpg", alt="")
				.title
					h3 Phòng 10