section.canhcam-slider-3#sectionScroll
	article.container
		h2.ka-title Loại phòng
		.owl-carousel.owl-theme.list-items
			.item
				img(src="./img/home/h_1.jpg", alt="")
			.item
				img(src="./img/home/h_2.jpg", alt="")