section.canhcam-form-1
	.container
		.title
			h2.ka-title liên hệ
			p Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho Kien An hotel, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
		.row.info
			.col-md-5.col-lg-4
				article.inf
					h2 Kien An Hotel
					h3.h3.text-center.text-md-left Natail SARL - Golf etc.
					p Địa chỉ:
						span 2A, Lô 3, Bình Hòa, Lái Thiêu, Thuận An, Bình Dương
					p Điện thoại:
						span 2A, Lô 3, Bình Hòa
					p FAX:
						span 2A, Lô 3, Bình Hòa
					p Email:
						span 2A, Lô 3, Bình Hòa

			.col-md-8
				.row.pb-4
					.col-sm-12.col-md-6.input
						input.form-control(type="text" placeholder="Họ và tên...")
					.col-sm-12.col-md-6
						input.form-control(type="text" placeholder="Email")
				.row.pb-4
					.col-sm-12.col-md-6.input
						input.form-control(type="text" placeholder="Tiêu đề")
					.col-sm-12.col-md-6
						input.form-control(type="text" placeholder="Số điện thoại")
				.row
					.form-group.col
						textarea#sms.form-control(placeholder='Nội dung...', name="sms", cols="30", rows="5")
				.row
					.col.d-flex.align-items-center.captcha.mb-3
						figure.m-0
							img(src="./img/contact_capcha.png", alt="")
						b.reload
							a(href="javascript:void(0)").fas.fa-redo-alt.ml-3.mr-3
						input.form-control.ml-2.mr-3(type="text")
						button.btn.btn-outline-primary.btn-btn-more.text-uppercase(type="submit")
							| Gửi