section.canhcam-room-details-4
	article.product-details
		.container
			.row
				.col-12.col-md-6
					.room-slide-img
						.slidewrap.d-sm-flex
							.slide-for.order-sm-2
								.item
									img.img-fluid(src="./img/room/r_1.jpg", alt="")
								.item
									img.img-fluid(src="./img/room/r_2.jpg", alt="")
								.item
									img.img-fluid(src="./img/room/r_3.jpg", alt="")
								.item
									img.img-fluid(src="./img/room/r_4.jpg", alt="")
							.slide-nav.order-sm-1
								.item
									img.img-fluid(src="./img/room/r_1.jpg", alt="")
								.item
									img.img-fluid(src="./img/room/r_2.jpg", alt="")
								.item
									img.img-fluid(src="./img/room/r_3.jpg", alt="")
								.item
									img.img-fluid(src="./img/room/r_4.jpg", alt="")
				.col-12.col-md-6
					section.product-info
						h1.room-name Phòng Vip
						.table-responsive
							table.table
								tbody
									tr
										td Giá
										td 900.000 VNĐ
									tr
										td Sức chứa
										td Giường đôi
									tr
										td Mô tả
										td Nội thất tiện nghi cùng một không gian ấm cúng, giúp cho quí khách những trải nghiệm tiệc vời
						.btn-wrap
							a.btn.btn-book(href="#") Đặt phòng
						.share
							a(href="#")
								em.fab.fa-facebook-f
							a(href="#")
								em.fab.fa-twitter
							a(href="#")
								em.fab.fa-google-plus-g
				.col
					section.product-description
						