section.canhcam-carousel-4
	.container
		h2.ka-title ĐỐi tác - khách hàng
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							img.img-fluid(src='./img/partner/p_1.png', alt='')
					.item
						a(href='#')
							img.img-fluid(src='./img/partner/p_2.png', alt='')
					.item
						a(href='#')
							img.img-fluid(src='./img/partner/p_3.png', alt='')
					.item
						a(href='#')
							img.img-fluid(src='./img/partner/p_4.png', alt='')
					.item
						a(href='#')
							img.img-fluid(src='./img/partner/p_1.png', alt='')
					.item
						a(href='#')
							img.img-fluid(src='./img/partner/p_2.png', alt='')
					.item
						a(href='#')
							img.img-fluid(src='./img/partner/p_3.png', alt='')
