section.canhcam-news-4
	article.news-hot
		.container
			.row
				.col-lg-4.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_1.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-4.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_2.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.				
				.col-lg-4.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_1.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
			.row
				.col-lg-8.box-all.col-md-6
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_2.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-4.box-all.col-md-6
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_1.jpg")
								//- img(src="./img/news/n_3.jpg", alt="").img-fluid.w-100.d-none
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
			.row
				.col-lg-4.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_2.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-4.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_1.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-4.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_2.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
			.row
				.col-lg-4.box-all.col-md-6
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_3.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-8.box-all.col-md-6
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/news/n_3.jpg")
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				