extends _layout/layout.pug
block variables
	- var title = "about"
	- var description = "Description for about page"
	- var bodyclass = "about"
	- var href = "/about.html"
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/carousel/c-4/index.pug
