extends _layout/layout.pug
block variables
	- var title = "checkout-3"
	- var description = "Description for checkout-3 page"
	- var bodyclass = "checkout-3"
	- var href = "/checkout-3.html"
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/breadcrumb/b-4/index.pug
	include ../lib/carousel/c-4/index.pug
