extends _layout/layout.pug
block variables
	- var title = "checkout-2"
	- var description = "Description for checkout-2 page"
	- var bodyclass = "checkout-2"
	- var href = "/checkout-2.html"
block header
	include ../lib/header/h-7/index.pug
block body
	include ../lib/boxes/b-17/index.pug
block footer
	include ../lib/footer/f-2/index.pug
