extends _layout/layout.pug
block variables
	- var title = "guide"
	- var description = "Description for guide page"
	- var bodyclass = "guide"
	- var href = "/guide.html"
block body
	include ../lib/boxes/b-15/index.pug
