extends _layout/layout.pug
block variables
	- var title = "promotion"
	- var description = "Description for promotion page"
	- var bodyclass = "promotion"
	- var href = "/promotion.html"
block body
	include ../lib/news/n-3/index.pug
