extends _layout/layout.pug
block variables
	- var title = "promotion-detail"
	- var description = "Description for promotion-detail page"
	- var bodyclass = "promotion-detail"
	- var href = "/promotion-detail.html"
block body
	include ../lib/news-details/n-1/index.pug
