extends _layout/layout.pug
block variables
	- var title = "room"
	- var description = "Description for room page"
	- var bodyclass = "room"
	- var href = "/room.html"
block body
	include ../lib/boxes/b-4/index.pug
