extends _layout/layout.pug
block variables
	- var title = "room-details"
	- var description = "Description for room-details page"
	- var bodyclass = "room-details"
	- var href = "/room-details.html"
block body
	include ../lib/room-details/s-4/index.pug
