extends _layout/layout.pug
block variables
	- var title = "service"
	- var description = "Description for service page"
	- var bodyclass = "service"
	- var href = "/service.html"
block body
	include ../lib/boxes/b-9/index.pug
