extends _layout/layout.pug
block variables
	- var title = "service-detail"
	- var description = "Description for service-detail page"
	- var bodyclass = "service-detail"
	- var href = "/service-detail.html"
block body
	include ../lib/news-details/n-1/index.pug
