extends _layout/layout.pug
block variables
	- var title = "service-detail"
	- var description = "Description for service-detail page"
	- var bodyclass = "service-detail"
	- var href = "/service-detail.html"
block header
	include ../lib/header/h-7/index.pug
block body
	include ../lib/breadcrumb/b-4/index.pug
	include ../lib/news-details/n-2/index.pug
block footer
	include ../lib/footer/f-2/index.pug
