extends _layout/layout.pug
block variables
	- var title = "support"
	- var description = "Description for support page"
	- var bodyclass = "support"
	- var href = "/support.html"
block body
	include ../lib/boxes/b-11/index.pug
