
section.canhcam-gallery-4
	.container
		.default-title.text-center
			h1.title Gallary
		.img-list
			.row
				.col-12.col-lg-6.img-col
					.row
						.col-12.top-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_1.png", alt="").w-100
									figcaption
										i.far.fa-images
					.row
						.col-md-6.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_2.png", alt="").w-100
									figcaption
										i.far.fa-images
						.col-md-6.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_3.png", alt="").w-100
									figcaption
										i.far.fa-images
				.col-12.col-lg-6.img-col
					.row.order-lg-2
						.col-12.top-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_6.png", alt="").w-100
									figcaption
										i.far.fa-images
					.row.order-lg-1
						.col-md-6.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_4.png", alt="").w-100
									figcaption
										i.far.fa-images
						.col-md-6.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_5.png", alt="").w-100
									figcaption
										i.far.fa-images
				.img-col.col-12
					.row
						.col-lg-3.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_7.png", alt="").w-100
									figcaption
										i.far.fa-images
						.col-lg-3.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_8.png", alt="").w-100
									figcaption
										i.far.fa-images
						.col-lg-3.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_9.png", alt="").w-100
									figcaption
										i.far.fa-images
						.col-lg-3.part-img
							a.item(href="#")
								figure
									img.img-fuild(src="./img/gallery/g_10.png", alt="").w-100
									figcaption
										i.far.fa-images