section.canhcam-boxes-9
	.container-fluid.px-0
		.row.no-gutters.item
			.col-md-6
				figure.mb-0(bg-img="./img/home/h_6.jpg")
					img(src="./img/home/h_6.jpg", alt="alt").img-fluid
			.col-md-6
				.text 
					h3.ka-subtitle Nhà hàng ẩm thực
					p Nhà hàng ấm cúng với khu vực máy lạnh hoặc ngoài sân vườn, với các món ăn chon lọc thuần túy Việt Nam và các món ăn quốc tế Việt Nam. Nhà hàng phục vụ café, ăn sáng nhẹ, ăn trưa và tối hoặc phục vụ tại phòng.
					p Nhà hàng khách sạn Kiến An sẽ là nơi thú vị cho việc tổ chức tiệc họp mặt, liên hoan hay sinh nhật của Quý khách.

					p.mb-0
						a.btn.btn-readmore(href="#") Xem thêm 
		.row.no-gutters.item
			.col-md-6.order-md-2
				figure.mb-0(bg-img="./img/home/h_7.jpg")
					img(src="./img/home/h_7.jpg", alt="alt").img-fluid
			.col-md-6.order-md-1
				.text-odd
					h3.ka-subtitle Hồ bơi ngoài trời
					p Cảm nhận sự sảng khoái với làn nước trong xanh, khu vực hồ bơi dành riêng cho khách lưu trú sẽ là nơi lý tưởng để thư giãn và lấy lại sự thoải mái sau một ngày làm việc bận rộn. 
					p Hồ bơi khách sạn Kiến An hân hạnh phục vụ miễn phí cho khách lưu trú  từ 06:00 -22:00 mỗi ngày.
					p.mb-0 
						a.btn.btn-readmore(href="#") Xem thêm 
		.row.no-gutters.item
			.col-md-6
				figure.mb-0(bg-img="./img/home/h_8.jpg")
					img(src="./img/home/h_8.jpg", alt="alt").img-fluid
			.col-md-6
				.text 
					h3.ka-subtitle Không gian sân vườn
					p Không gian phủ xanh bởi các loại cây cảnh đa dạng và được chăm chút kỹ lưỡng. Không gian phủ xanh bởi các loại cây cảnh đa dạng và được chăm chút kỹ lưỡng.
					p Không gian phủ xanh bởi các loại cây cảnh đa dạng và được chăm chút kỹ lưỡng.
					p.mb-0 
						a.btn.btn-readmore(href="#") Xem thêm 
							i.mdi.mdi-arrow-right