section.canhcam-services-9
	.container
		.row.no-gutters
			.col-lg-6
				figure
					img(src="./img/career/c_1.png", alt="alt").img-fluid.w-100.h-100
			.col-lg-6.bg
				.text 
					h3.h3 Nội thất
					p.lead Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi maxime ipsam voluptates nesciunt vitae consectetur esse molestias repellendus corrupti excepturi mollitia, eaque dolore ducimus animi aliquid perferendis blanditiis quidem.
					.kienan-button.d-flex
						a.btn-wrap.btn-more(href="") Xem thêm 
		.row.no-gutters
			.col-lg.order-lg-1
				figure
					img(src="./img/career/c_2.png", alt="alt").img-fluid
			.col-lg-6.bg
				.text-odd
					h3.h3 Nội thất
					p.lead Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi maxime ipsam voluptates nesciunt vitae consectetur esse molestias repellendus corrupti excepturi mollitia, eaque dolore ducimus animi aliquid perferendis blanditiis quidem.
					p.mb-0 
						a(href="#") Xem thêm 
		.row.no-gutters
			.col-lg 
				figure
					img(src="./img/career/c_3.png", alt="alt").img-fluid
			.col-lg-6.bg
				.text 
					h3.h3 Nội thất
					p.lead Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi maxime ipsam voluptates nesciunt vitae consectetur esse molestias repellendus corrupti excepturi mollitia, eaque dolore ducimus animi aliquid perferendis blanditiis quidem.
					p.mb-0 
						a(href="#") Xem thêm 
