section.canhcam-boxes-1
	.container
		h2.ka-title Video
		.row
			.col-sm-10.mx-auto
				a.video-wrap(data-fancybox="video" href="https://www.youtube.com/watch?v=gssUh_QE6BY")
					img.img-fluid(src="./img/home/h_6.jpg", alt="")
					.btn-play
						span.mdi.mdi-play