section.canhcam-boxes-2
	.container
		h2.ka-title giới thiệu tổng quan
		.row
			.col-12
				.text
					p 
						span.bold Khách sạn Kiến An 
						| là một trong những khách sạn sang trọng nằm tọa lạc tại trung tâm Thị xã Thuận An, bao quanh là các khu công nghiệp lớn, khu trung tâm thương mại - giải trí phức hợp và bao gồm nhiều công ty lớn nhỏ tại Việt Nam có trụ sở tại Bình Dương. Với tổng diện tích hơn 3000 m2, khách sạn Kiến An được thiết kế theo phong cách Villa trệt, trang bị nhiều thiết bị hiện đại và không gian sân vườn thoáng mát – yên tĩnh.
					img(src="./img/about/a_1.png", alt="")