footer.canhcam-footer-2
	.linkfooter
		.container
			.row
				.col-lg-9
					.row
						.col-lg-4.col-sm-12
							h4 Kiến AN Hotel
							.text
								p 2A, Lô 3, Bình Hòa, Lái Thiêu, Thuận An, Bình Dương
								p Tel : 84 650 3 79 7779
								p Fax : 84 650 3 79 7778
								p Email : Info@kahotel.com.vn
						.col-lg-4.col-sm-6
							h4.mt-5.mt-lg-0 Dịch vụ
							nav.list-group
								.list-group-item
									a(href="#") Nhà hàng 
								.list-group-item
									a(href="#") Hội nghị
								.list-group-item
									a(href="#") Gym
								.list-group-item
									a(href="#") Spa
								.list-group-item
									a(href="#") Sân vườn
						.col-lg-4.col-sm-6
							h4.mt-5.mt-lg-0 Liên kết nhanh
							nav.list-group
								.list-group-item
									a(href="#") Giới thiệu
								.list-group-item
									a(href="#") Loại phòng
								.list-group-item
									a(href="#") Khuyến mãi
								.list-group-item
									a(href="#") Hỗ trợ
								.list-group-item
									a(href="#") Tin tức
								.list-group-item
									a(href="#") Thư viện
								.list-group-item
									a(href="#") Liên hệ
				.col-lg-3
					.subscribe
						h4.text-center.text-md-left.mt-5.mt-lg-0 Đăng ký nhận bản tin
						form.form-inline.my-2.my-lg-0.search.justify-content-center.justify-content-md-start
							.input-group
								input.form-control(type='text', placeholder="Nhập email...", aria-label="Search", aria-describedby='basic-addon2')
								button.btn.btn-primary.searchbtn(type='button')
									i.fa.fa-envelope


	.copyright
		.container
			.row
				.col-lg-auto.text-center.text-lg-left
					p.mb-0 2018 Kien An Hotel. All right reserved. Designed by canhcam.
				.col-lg.social
					nav.list-group.mt-2.mb-4.mt-lg-0.mb-lg-0
						.list-group-item
							a(href="#")
								span.fab.fa-facebook-f
						.list-group-item
							a(href="#")
								span.fab.fa-youtube
						.list-group-item
							a(href="#")
								span.fab.fa-twitter
						.list-group-item
							a(href="#")
								span.fab.fa-google-plus-g