section.canhcam-boxes-15
	.container
		.row
			ul.timeline
				li.timeline-item
					.timeline-number 1
					.timeline-info
						h3.timeline-title Lorem, ipsum dolor sit
					.timeline-marker
					.timeline-content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem dolores doloribus maiores doloremque nemo in, laudantium incidunt cupiditate eveniet nesciunt magni, maxime quidem aperiam nam!
				li.timeline-item
					.timeline-number 2
					.timeline-info
						h3.timeline-title Freelancer
					.timeline-marker
					.timeline-content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem dolores doloribus maiores doloremque nemo in, laudantium incidunt cupiditate eveniet nesciunt magni, maxime quidem aperiam nam!
						h4 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						ul.list-item
							li.item Lorem ipsum dolor sit amet consectetur
							li.item Lorem ipsum dolor sit amet consectetur
							li.item Lorem ipsum dolor sit amet consectetur
							li.item Lorem ipsum dolor sit amet consectetur
							li.item Lorem ipsum dolor sit amet consectetur
						
				li.timeline-item
					.timeline-number 3
					.timeline-info
						h3.timeline-title Lorem, ipsum dolor sit
					.timeline-marker
					.timeline-content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem dolores doloribus maiores doloremque nemo in, laudantium incidunt cupiditate eveniet nesciunt magni, maxime quidem aperiam nam!
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem dolores doloribus maiores doloremque nemo in, laudantium incidunt cupiditate eveniet nesciunt magni, maxime quidem aperiam nam!
				li.timeline-item
					.timeline-number 4
					.timeline-info
						h3.timeline-title Lorem, ipsum dolor sit
					.timeline-marker
					.timeline-content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem
						p.note Lưu ý: 
							span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus impedit est, magnam dicta reiciendis eum aperiam possimus dignissimos incidunt commodi
				li.timeline-item
					.timeline-number 5
					.timeline-info
						h3.timeline-title Lorem, ipsum dolor sit
					.timeline-marker
					.timeline-content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem
